<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ImageCluster</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>

<body>

    <h1>Image clustering tool</h1>
    <p>Given a folder of images, the following uses a neural network to cluster your pictures based on similarity.</p>   
    <h3>Upload album</h3>
    <form method="POST" action="" enctype="multipart/form-data">
    
        <p><input type="file" name="file" multiple></p>
        <p><input type="submit" value="Submit"></p>
    
    </form>

    <form method="POST" action="{{ url_for('predict') }}">
        <p><input type="submit" value="Predict"></p>
    </form>

    <h3>Pictures</h3>
        {% for image in images %}
            <img src="{{ url_for('upload', filename=image) }}" style="width: 64px;">
        {% endfor %}

    <h3>Clusters</h3>
    {% for cluster in cluster_dict %}
        <div class="cluster">
            
            <div class="cluster_label">
                 <div class="numberCircle">
                     {{ cluster }}
                    </div> 
            </div>

            <div class="cluster_gallery">
                {% for pic in cluster_dict[cluster] %}
                    <img src="{{ url_for('upload', filename=pic) }}" style="width: 100px; height: 100px;">
                {% endfor %} 
                <br>  
            </div>
                    
        </div>
    {% endfor %} 
       

</body>

</html>