<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ImageCluster</title>
    
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <br>
    <br>
    <br>
    <h1>Image clustering tool</h1>
    <p>Given a folder of images, the following uses a neural network to cluster your pictures based on similarity.</p>   
    <h3>Upload album</h3>
    <!-- <form method="POST" action="" enctype="multipart/form-data">
    
        <p><input type="file" name="file" multiple></p>
        <p><input type="submit" value="Submit"></p>
    
    </form> -->

    <!-- <form method="POST" action="{{ url_for('predict') }}">
        
    </form> -->
    
    <form class="form-row" method="POST" action="" enctype="multipart/form-data">
        <div class="custom-file col-4">
          <!-- <input type="file" class="form-control" id="customFile" multiple> -->
          <input type="file" name="file" class="custom-file-input" id="customFile" multiple >
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <div class="form-group col-2">
            <!-- <label>&nbsp;</label> -->
            <input type="submit" name="submit" value="Submit" class="btn-primary form-control" />
            <!-- <button type="submit" class="btn btn-primary mb-2">Submit</button> -->
        </div>
      </form>
 
      <br>
      <br>

    <h3>Configure model</h3>
    <!-- <form method="POST" action="{{ url_for('predict') }}">
        <div class="form-settings">
            <p style="text-align: left;"># cluster</p>
            <div class="number-input">
                
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                <input class="quantity" type="number" min="3" name="num_cluster" placeholder="3" required="required"></p>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
            </div>
            
            <div class="model-input">
                <p style="text-align: left;">Select model</p>
                <input type="text" name="modelname" placeholder="Model to use" required="required">
                
                <select name="modelname">
                    <option value="mobilenet">mobilenet</option>
                    <option value="resnet">resnet</option>
                    <option value="inception">inception</option>
                </select>
                <input type="submit" value="Predict">
            </div>
        </div>
    </form> -->

    <form method="POST" action="{{ url_for('predict') }}"> 
        <div class="form-row align-item-center">
            <div class="form-group col-3">
                <label for="num_cluster">No. of clusters</label>    
                <input class="form-control" type="number" min="3" name="num_cluster" placeholder="3" required="required">
                <small id="numcluster_help" class="form-text text-muted">
                    Number of clusters to group your photos.
                  </small>
            </div>
            <div class="form-group col-5">
                <label for="modelname">Select model </label>
                <select class="custom-select" name="modelname">
                    <option selected>Choose...</option>
                    <option value="mobilenet">mobilenet</option>
                    <option value="resnet">resnet</option>
                    <option value="inception">inception</option>
                </select>
                <small id="model_help" class="form-text text-muted">
                    A convolutional neural network is used to extract features for each photo, which help classify them.
                  </small>
            </div>
            <div class="form-group ">
                <label>&nbsp;</label>
                <input type="submit" name="submit" value="Cluster" class="btn-primary form-control" />
                <!-- <button type="submit" class="btn btn-primary mb-2">Submit</button> -->
            </div>

        </div>
    </form>


    <!-- <label for="num_cluster">Number of clusters</label>    
    <input type="number" min="3" name="num_cluster" placeholder="3" required="required">
    <label for="modelname">Select model </label>
    <select name="modelname">
        <option value="mobilenet">mobilenet</option>
        <option value="resnet">resnet</option>
        <option value="inception">inception</option>
    </select>
    <input type="submit" value="Predict"> -->
    


    <!-- <div class="rectangle">centered cehxt</div> -->
    <h3>Pictures</h3>
        {% for image in images %}
            <img src="{{ url_for('upload', filename=image) }}" style="width: 64px;">
        {% endfor %}

    <h3>Clusters</h3>
    {% for cluster in cluster_dict %}
        <div class="cluster">
            
            <div class="cluster_label">
                 <div class="numberCircle">
                     {{ cluster }}
                    </div> 
            </div>

            <div class="cluster_gallery">
                {% for pic in cluster_dict[cluster] %}
                    <img src="{{ url_for('upload', filename=pic) }}" style="width: 100px; height: 100px;">
                {% endfor %} 
                <br>  
            </div>
                    
        </div>
    {% endfor %} 
       

</body>

</html>